* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
}

.form_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 600px;
  padding: 100px 100px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.11);
}

.login_title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form_group {
  margin-bottom: 16px;
  font-weight: 300;
}

.form-control {
  font-size: 16px;
  padding: 6px 12px;
  display: block;
  width: 100%;
  font-family: inherit;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 6px;
  color: #495057;
  background-color: #ffffff;
}

.text-right {
  text-align: right;
}

.forgot_password {
  font-size: 10px;
}

.submit {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  background-color: #FEB32C;
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.11);
  border: none;
  padding: 10px 15px;
}

.signup_option {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.signup_link {
  text-decoration: underline;
  color: #25DFB7;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
}

.form_body_signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 600px;
  padding: 100px 100px;
  margin-top: 30px;
  margin-bottom: 80px;
  background-color: #ffffff;
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.11);
}

.signup_title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form_group_signup {
  margin-bottom: 16px;
  font-weight: 300;
}

.form-control-signup {
  font-size: 16px;
  padding: 6px 12px;
  display: block;
  width: 100%;
  font-family: inherit;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 6px;
  color: #495057;
  background-color: #ffffff;
}

.form-control-signup:focus {
  border: 2px solid #FEB32C;
}

.text-right {
  text-align: right;
}

.submit {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  background-color: #FEB32C;
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.11);
  border: none;
  padding: 10px 15px;
}

/* Product Page */
.product_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 65px;
  margin-right: 65px;
}

.product_image {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}

.product_sidekick_image {
  display: flex;
  max-width: 50%;
}

.product_sidekick_image_row1 {
  margin-right: 180px;
}

#product_main_img {
  max-width: 600px;
  max-height: 600px;
}

#product_small_img {
  max-width: 200px;
  max-height: 200px;
}

.product_highlights_bg {
  background-color: #f5f5f5;
  max-width: 375px;
  width: 100%;
  max-height: 700px;
}

.highlight_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.highlight_points {
  padding-bottom: 20px;
}

.product_buttons {
  display: flex;
  justify-content: center;
}

.product_buttons_detail {
  display: flex;
  flex-direction: column;
}

.product_buy_btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  background-color: #FEB32C;
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.11);
  border: none;
  padding: 6px 100px;
  margin-top: 10px;
  display: inline-block;
}

.product_wish_btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  background-color: #25DFB7;
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.11);
  border: none;
  padding: 6px 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.product_detail_bg {
  background-color: #f5f5f5;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product_detail {
  margin-left: 65px;
  margin-right: 100px;
}

#product_body_detail {
  font-weight: 300;
  margin-top: 10px;
}

.guide_content {
  margin-top: 30px;
  margin-left: 65px;
  margin-right: 65px;
  font-weight: 400;
}

.guide_image {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}

.guide_hero {
  width: 100%;
}

.guide_intro {
  width: 75%;
  margin-top: 50px;
  margin-left: 65px;
}

.guide_product {
  width: 75%;
  margin-top: 50px;
  margin-left: 65px;
}

.guide_img_break {
  margin-bottom: 20px;
  width: 100%;
}

.footer {
  font-size: x-small;
  padding-top: 52px;
  padding-right: 65px;
  padding-bottom: 100px;
  padding-left: 65px;
  margin-top: 10px;
  color: #f5f5f5;
  text-decoration: none;
  margin-left: 250px;
  margin-right: 250px;
}
@media (max-width: 640px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer_bg {
  background-color: #232323;
}

.footer_left {
  display: flex;
  flex-direction: column;
}

.footer_center1 {
  display: flex;
  flex-direction: column;
}

.footer_center2 {
  display: flex;
  flex-direction: column;
}

.footer_right {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 200;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: white;
}

a {
  color: black;
}

header {
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 640px) {
  header {
    margin: 0;
  }
}

.nav {
  font-weight: 300;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .nav {
    display: flex;
    justify-content: center;
  }
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  margin-top: 10px;
}

.container-fluid {
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.icons_right {
  display: flex;
  margin-left: auto;
}

li {
  padding-left: 10px;
}

.hero_section {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  max-width: 1300px;
  padding-bottom: 58px;
}
@media (max-width: 640px) {
  .hero img {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.middle_content_bg {
  background-color: #f5f5f5;
}

.content_title {
  display: block;
  font-weight: 300;
  font-size: large;
  max-width: 100%;
  width: 950px;
  margin: 0 auto;
  padding-bottom: 10px;
}
@media (max-width: 640px) {
  .content_title {
    display: flex;
    justify-content: center;
  }
}

.product_options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media (max-width: 640px) {
  .product_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  .product_options {
    justify-content: space-between;
  }
}

.middle_content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.guias {
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  .guias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bg_smartphone {
  background-color: white;
}

.left_guias {
  margin: 30px 0px 30px 0px;
}
@media (max-width: 640px) {
  .left_guias {
    margin-bottom: 0;
  }
}

.right_guias {
  margin: 30px 0px 30px 10px;
}
@media (max-width: 640px) {
  .right_guias {
    margin-top: 0;
    margin-left: 0;
  }
}

.guias {
  padding-top: 58px;
}

.guias img {
  max-width: 460px;
  height: auto;
  width: 100%;
}

.btn_guias {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn_ver_guias {
  font-weight: 300;
  border: none;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: #232323;
  color: #f5f5f5;
  margin-bottom: 80px;
}

.btn_ver_guias:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
