.guide_content {
  margin-top: 30px;
  margin-left: 65px;
  margin-right: 65px;
  font-weight: 400;
}

.guide_image {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}

.guide_hero {
  width: 100%;
}

.guide_intro {
  width: 75%;
  margin-top: 50px;
  margin-left: 65px;
}

.guide_product {
  width: 75%;
  margin-top: 50px;
  margin-left: 65px;
}

.guide_img_break {
  margin-bottom: 20px;
  width: 100%;
}

// .right_buy_options {
//     width: 25%;
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;


// }

// .guide_buy_img {
//     width: 50%;
// }