// Imports
@import "variables.scss";
@import "reset.scss";
@import "signin.scss";
@import "signup.scss";
@import "buttons.scss";
@import "product.scss";
@import "guia.scss";
@import "footer.scss";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: white;
}

a {
  color: black;
}

header {
  margin-left: 50px;
  margin-right: 50px;

  @media (max-width: $smartphone) {
    margin: 0;
  }
}

.nav {
  font-weight: $skinnyfont;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $smartphone) {
    display: flex;
    justify-content: center;
  }
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  margin-top: 10px;
}

.container-fluid {
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.icons_right {
  display: flex;
  margin-left: auto;
}

li {
  padding-left: 10px;
}

.hero_section {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  max-width: 1300px;
  padding-bottom: 58px;

  @media (max-width: $smartphone) {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.middle_content_bg {
  background-color: $background;
}

.content_title {
  display: block;
  font-weight: $skinnyfont;
  font-size: large;
  max-width: 100%;
  width: 950px;
  margin: 0 auto;
  padding-bottom: 10px;

  @media (max-width: $smartphone) {
    display: flex;
    justify-content: center;
  }
}

.product_options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 50px;

  @media (max-width: $smartphone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  @media (min-width: $laptop) {
    justify-content: space-between;
  }
}

.middle_content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.guias {
  display: flex;
  justify-content: center;

  @media (max-width: $smartphone) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bg_smartphone {
  background-color: white;
}

.left_guias {
  margin: 30px 0px 30px 0px;

  @media (max-width: $smartphone) {
    margin-bottom: 0;
  }
}

.right_guias {
  margin: 30px 0px 30px 10px;

  @media (max-width: $smartphone) {
    margin-top: 0;
    margin-left: 0;
  }
}

.guias {
  padding-top: 58px;
}

.guias img {
  max-width: 460px;
  height: auto;
  width: 100%;
}

.btn_guias {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn_ver_guias {
  font-weight: $skinnyfont;
  border: none;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: $darkbackground;
  color: #f5f5f5;
  margin-bottom: 80px;
}

.btn_ver_guias:hover {
  text-decoration: underline;
}
